@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1f5373;
  --secondary: #4ABFD9;
  --headings: #2e3133;
  --highlight: #d94945;
}

body {
  font-family: "Inter", sans-serif;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInText 1s forwards;
}

@keyframes fadeInText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Staggered delays */
.fade-in-delay-1 {
  animation-delay: 0.3s;
}
.fade-in-delay-2 {
  animation-delay: 0.6s;
}
.fade-in-delay-3 {
  animation-delay: 0.9s;
}

/* Pagination Dots */
.swiper-pagination {
  position: absolute;
  bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #555 !important;
  opacity: 1 !important;
  margin: 0 6px;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #222 !important;
}
/* Make sure wrapper allows outside arrows */
.slider-div {
  position: relative !important;
  padding: 30px !important;
}
.swiper {
  position: unset !important;
}

.slider-div .swiper-button-next,
.slider-div .swiper-button-prev {
  width: 34px;
  height: 34px;
  background-color: #edf1f2;
  border-radius: 50%;
  color: var(--headings) !important;
  top: 50%;
  font-size: 8px !important;
  visibility: visible !important;
}

/* Smaller Arrow Icon */
.slider-div .swiper-button-next::after,
.slider-div .swiper-button-prev::after {
  font-size: 8px !important;
}

.swiper-button-prev,
.swiper-button-next {
  svg {
    width: 50% !important;
    height: 50% !important;
  }
}
.slider-div .swiper-button-prev {
  left: -30px !important;
}

.slider-div .swiper-button-next {
  right: -20px !important;
}

/* Optional Hover Effect */
.slider-div .swiper-button-next:hover,
.slider-div .swiper-button-prev:hover {
  background-color: var(--primary);
  color: white !important;
}
