@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #1F5373;
  --secondary: #3B8C84;
  --highlight: #D94945;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInText 1s forwards;
}

@keyframes fadeInText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Staggered delays */
.fade-in-delay-1 { animation-delay: 0.3s; }
.fade-in-delay-2 { animation-delay: 0.6s; }
.fade-in-delay-3 { animation-delay: 0.9s; }


/* Pagination Dots */
.swiper-pagination {
  position: absolute;
  bottom: 24px;   
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20; 
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #555 !important; 
  opacity: 1 !important;
  margin: 0 6px;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #222 !important; 
}